<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @person.new_record? ? 'Agregar' : 'Editar' %> Persona</h3>
  </div>
  <%= form_for(@person, remote: true) do |f| %>
    <div class="panel-body">
      <div id="person_errors"></div>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control reset' %>
      </div>
      
      <div class="form-group">
        <%= f.label :lastname %>
        <%= f.text_field :lastname, class: 'form-control reset' %>
      </div>
      
      <div class="form-group">
        <%= f.submit 'Guardar', data: { disable_with: 'Procesando...' }, class: 'btn btn-primary' %>
        <%= button_tag 'Cancelar', type: 'button', data: { disable_with: 'Procesando...'}, class: 'btn btn-default', id: 'cancelar-form' %>
      </div>
    </div>
  <% end %>
</div>