<div class="row">
  <div class="col-md-12">
    <%= link_to new_person_path, class: 'btn btn-primary pull-right', id: 'link_new_person', remote: true do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </div>
</div>
<hr></hr>
<div class="row" id="row_index">
  <div class="col-md-12" id="col_index">
    <%= render 'index_content' %>
  </div>
  <div id="col_form"></div>
</div>