<div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Personas</h3>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% if @people.any? %>
            <% @people.each do |person| %>
              <tr>
                <td><%= person.fullname %></td>
                <td class="text-center">
                  <%= link_to person, class: 'btn btn-info btn-sm', remote: true do %>
                    <i class="glyphicon glyphicon-eye-open"></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= link_to edit_person_path(person), class: 'btn btn-warning btn-sm', remote: true do %>
                    <i class="glyphicon glyphicon-pencil"></i>
                  <% end %>
                </td>
                <td class="text-center">
                  <%= link_to person, method: :delete, data: { confirm: 'Está Seguro?' }, class: 'btn btn-danger btn-sm', remote: true do %>
                    <i class="glyphicon glyphicon-minus"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="2">No hay personas registradas.</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>