$("#col_index").removeClass("col-md-12").addClass("col-md-6");
$("#col_form").addClass("col-md-6");
$("#col_form").html("<%= j render 'form', person: @person %>");
$("#link_new_person").addClass("disabled");
$("#link_edit_person").addClass("disabled");
